@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./styles/variable";

* {
  line-height: 1.4;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: var(--cl-txt);
}

.my-bg-color {
  background-color: #f8f7fa;
}

.input-search {
  position: relative;
  background: #FBFBFB;
  padding: 13px 16px 13px 45px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: 16px;
}

.table {
  width: 100%;

  thead {
    th {
      padding: 16px 20px;
      border-bottom: 1px solid #EDEDED;
      background: #FBFBFB;
      font-size: 13px;
      font-weight: 600;
      line-height: normal;
      font-style: normal;
    }
  }

  tbody {
    tr {
      cursor: pointer;
      transition: 0.3s background cubic-bezier(0.86, 0, 0.07, 1);

      &:hover {
        background-color: #EDEDED;
      }

      td {
        padding: 16px 20px;
        border-bottom: 1px solid #EDEDED;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
      }
    }
  }
}

.delivery-status {
  padding: 5px;
  border-radius: 10px;

  &.active {
    color: #000;
    background: rgba(86, 188, 77, 0.50);
  }

  &.complete {
    color: #000;
    background: rgba(0, 163, 255, 0.50);
  }

  &.error {
    color: #FFF;
    background-color: rgba(255, 0, 0, 0.80);
  }
}

.disabled {
  opacity: .25;
  pointer-events: none;
}

.date-range-wrapper {
  position: relative;

  .input-date {
    width: 900px;
    height: 42px;
    border: 1px solid gray;
    border-radius: 8px;
  }

  .date-item {
    border-radius: 32px;
    cursor: pointer;
    height: 46px;
    width: 46px;
    transition: .1s;

    &:hover {
      border: 1px solid #000;
    }
  }

  .is-selected-date {
    background-color: #000;
    color: #FFF;
  }

  .within-range {
    background: rgb(247, 247, 247) !important;
  }

  .date-content {
    width: 100%;
    padding: 16px 32px;
    position: absolute;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
    margin-top: 12px;
    border-radius: 8px;
  }
}